@import '../../mixins.scss';

.navigation {
  height: 70px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;

  .logo-container {
    width: 50%;
    .logo {
      height: 30px;
    }
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding-left: 10px;
      cursor: pointer;
      font-size: 14px;
    }
  }

  @include respond-to('desktop') {
    padding: 0 4rem;

    .logo-container .logo {
      height: 40px;
    }
    .nav-links-container .nav-link {
      font-size: 18px;
      padding-left: 30px;
    }
  }
}
