@import '../../mixins.scss';

.navigation {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-container {
    width: 50%;
    .logo {
      height: 30px;
    }
  }

  .nav-links-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    .nav-link {
      cursor: pointer;
      font-size: 14px;
      text-wrap: nowrap;
      
      &:hover{
        color: white;
        background-color: black;
        padding: 8px;
      }
    }
  }

  @include respond-to('desktop') {
    margin: 20px;

    .logo-container .logo {
      height: 40px;
    }
    .nav-links-container .nav-link {
      font-size: 18px;
      gap:10px;
      padding: 10px;
      // padding-left: 30px;
    }
  }
}
