@import '../../mixins.scss';

.category-preview-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
    cursor: pointer;
  }

  .preview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }

}
@include respond-to('tablet'){
  .category-preview-container{
    .preview{
      column-gap:46px;
    }
  }
}
@include respond-to('desktop'){
  .category-preview-container{
    .preview{
      grid-template-columns: repeat(4,1fr);
      row-gap:36px;
    }
  }

}