@import "../../mixins.scss";

.product-card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 1px solid white;
  margin-bottom: 1rem;
  overflow: hidden;
  padding: 2px;

  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;

    .name {
      width: 50%;
    }

    .price {
      width: 20%;
    }
  }
}
@include respond-to("tablet") {
  .product-card-container {
    img {
      height: 400px;
    }

    button {
      width: 98%;
    }

    button.add-to-cart {
      width: 40%;
    }

    .footer {
      height: 70px;
      gap: 2px;

      .name {
        font-size: 14px;
      }
      .price {
        font-size: 14px;
      }
    }
  }
}
