@import "../../mixins.scss";

.product-card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 1px solid white;
  margin-bottom: 1rem;
  overflow: hidden;
  padding: 2px;

  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  button {
    width: 90%;
    opacity: 0.7;
    position: absolute;
    display: none;
    overflow: hidden;
  }

  button:first-of-type {
    top: 50%;
  }

  button:nth-of-type(2) {
    top: 65%;
  }

  &:hover {
    img {
      opacity: 0.8;
    }

    button {
      opacity: 0.85;
      display: flex;
    }
  }

  .footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;

    .name {
      width: 50%;
    }

    .price {
      width: 20%;
    }
  }
}
@include respond-to("tablet") {
  .product-card-container {
    img {
      height: 400px;
    }
    button {
      width: 98%;
    }
    button:first-of-type {
      top: 60%;
    }
    button:nth-of-type(2) {
      top: 72%;
    }

    .footer {
      height: 70px;

      .name {
        font-size: 20px;
      }
      .price {
        font-size: 20px;
      }
    }
  }
}
