.cart-icon-container {
  width: 45px;
  height: 35px;
  padding-bottom: 6px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 24px;
    height: 24px;
  }

  .item-count {
    position: absolute;
    bottom: 11px;
    font-size: 10px;
    font-weight: bold;
  }
}
