@import "../../mixins.scss";
.authentication-container {
    display: flex;
    width: 900px;
    justify-content: space-between;
    margin: 30px auto;
    flex-direction: column;
    gap: 80px;
  }

  @include respond-to('desktop'){
    .authentication-container{
        flex-direction: row;
    }
  } 