@import "../../mixins.scss";

.authentication-container {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  gap: 10px;
  width: 100%;
  color: white;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background: linear-gradient(135deg, #0f0f11 0%, #1a1c21 45%, #101014 100%);
}

@include respond-to("tablet") {
  .authentication-container {
    padding: 3rem 2rem;
  }
}

@include respond-to("desktop") {
  .authentication-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    text-align: left;
  }
}
